.App {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px); 
  justify-content: center;
  margin: 20px auto; 
  background-color: white;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid grey; 
  cursor: pointer;
}
