.App {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px); /* Creates 2 columns */
  justify-content: center;
  margin: 20px auto; /* Adjusted for visual clarity */
  background-color: white; /* Background color of the grid container to simulate border */
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white; /* Default background color */
  border: 2px solid grey; /* Individual cell border */
  cursor: pointer;
}
